.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.scout-header {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.scout-info {
  .info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    
    .label {
      font-weight: 600;
      color: nb-theme(text-hint-color);
    }
    
    .value {
      text-align: right;
    }
  }
}









