.search-container {
  margin-top: 1rem;}
.coach-header {
  display: flex;  justify-content: space-between;
  align-items: center;}
.coach-info {
  margin-top: 1rem;  
  p {    margin-bottom: 0.5rem;
  }
}









